{% extends 'base.html' %} <!-- cargamos la plantilla base, tiene lo que todo es común-->

{% block titulo%} Borrar registro {% endblock %} 

{% block contenido %}
<h1>Borrar movimiento</h1>
<div class="card">
    <div>
        <label for="fecha"> Fecha</label>
        <input type="text" name="fecha" value="{{ movimiento.fecha }}">
    </div>
    <div >
        {{ form.concepto.label(class="mylabel") }}
        {{ form.concepto(disabled=True) }}
    </div>
    <div >
        {{ form.categoria.label(class="mylabel") }}
        {{ form.categoria(disabled=True) }}
    </div>
    <div >
        {{ form.cantidad.label(class="mylabel") }}
        {{ form.cantidad(disabled=True) }}
    </div>
    <div >
        {{ form.esGasto.label(class="mylabel") }}
        {{ form.esGasto(disabled=True) }}
    </div>
</div>

{% endblock %}