{% extends 'base.html' %} <!-- cargamos la plantilla base, tiene lo que todo es común-->

{% block titulo%} Borrar registro {% endblock %} 

{% block contenido %}
<h1>Borrar movimiento</h1>
<div class="row">
    <form action="/borrar/{{ movimiento.id }}" method="post">

        <div>
            <label class=mylabel for="fecha">Fecha</label>
            <input  disabled type="text" name="fecha" value="{{ movimiento.fecha }}">
        </div>
        <div >
            <label class=mylabel for="concepto">Concepto</label>
            <input  disabled type="text" name="concepto" value="{{ movimiento.concepto }}">
        </div>
        <div >
            <label class=mylabel for="categoria">Categoria</label>
            <input  disabled type="text" name="categoria" value="{{ movimiento.categoria }}">
        </div>
        <div >
            <label class=mylabel for="cantidad">Cantidad</label>
            <input  disabled type="text" name="cantidad" value="{{ movimiento.cantidad }}">
        </div>
        <div >
            <label class=mylabel for="esGasto">Es gasto</label>
            <input  disabled type="checkbox" name="esGasto" {% if movimiento.esGasto != 0 %} checked {% endif %}>
        </div>

        <input type="submit" value="Aceptar"> 
        <a href="/">Cancelar</a>
    </form>

</div>


{% endblock %}